.popover {
  position: absolute;
  transform: translate3d(0, -40px, 0);
  transition: transform 0.2s, opacity 0.2s;
  box-shadow: 0px 9px 28px 8px rgba(0, 0, 0, 0.05),
    0px 6px 16px 0px rgba(0, 0, 0, 0.08), 0px 3px 6px -4px rgba(0, 0, 0, 0.12);
  .popover-content {
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.85);
    line-height: 22px;
    position: absolute;
    box-sizing: border-box;
    height: 32px;
    border-radius: 4px;
    background: #607ae3;
    padding: 5px 8px;
    white-space: nowrap;
    transform: translate(-50%, 0);
  }
  .popover-arrow {
    display: block;
    position: absolute;
    top: 32px;
    border-top: 4px solid #607ae3;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    left: 50%;
    margin-left: -4px;
  }
}