.text-marker {
  position: relative;
  .paragraph {
    line-height: 24px;
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.65);
    margin: 0;
    white-space: pre-wrap;
    .default {
      background-color: #cad9ff;
      cursor: pointer;
      position: relative;
      padding: 3px 0;
    }
    span:nth-child(6n + 1) {
      background-color: rgba(202, 217, 255, 1);
    }
    span:nth-child(6n + 2) {
      background-color: rgba(254, 200, 200, 1);
    }
    span:nth-child(6n + 3) {
      background-color: rgba(192, 240, 233, 1);
    }
    span:nth-child(6n + 4) {
      background-color: rgba(254, 227, 198, 1);
    }
    span:nth-child(6n + 5) {
      background-color: rgba(199, 191, 255, 1);
    }
    span:nth-child(6n + 6) {
      background-color: rgba(195, 231, 205, 1);
    }
  }
}

.text-marker__popover {
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.85);
  line-height: 22px;
  box-sizing: border-box;
  height: 32px;
  border-radius: 4px;
  background: #607ae3;
  padding: 5px 8px;
  white-space: nowrap;
  .add-mark {
    cursor: pointer;
    display: flex;
    align-items: center;
    line-height: 16px;
    height: 22px;
    .icon-plus {
      margin-right: 6px;
      height: 14px;
    }
    &:hover {
      opacity: 0.75;
    }
  }
  .remove-mark {
    display: flex;
    align-items: center;
    line-height: 16px;
    height: 22px;
    .icon-close {
      margin-left: 6px;
      cursor: pointer;
      height: 14px;
      &:hover {
        opacity: 0.75;
      }
    }
  }
}

.text-marker__dropdown {
  width: 180px;
  max-height: 150px;
  overflow-y: auto;
  background: rgba(255, 255, 255, 1);
  border-radius: 4px;
  ul {
    margin: 0;
    padding: 4px 0;
    list-style: none;
  }
  li {
    height: 32px;
    padding: 5px 12px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.65);
    line-height: 22px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .menu-item:hover {
    background: rgba(96, 122, 227, 0.1);
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
  }
  .no-data {
    cursor: initial;
    text-align: center;
    color: rgba(0, 0, 0, 0.45);
  }
}